<header class="header-area">
    <!-- Top Header -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="../../../../assets/user/img/logo.png" alt="" height="90px"></a>
                        </div>

                        <!-- Login Search Area -->
                        <div class="login-search-area d-flex align-items-center">
                            <!-- Login -->
                            <div class="login d-flex">
                                <a href="/login">Login</a>   
                                <a href="/sign-up">Register</a>
                                <a class="dropdown">
                                    <a class="dropdown-toggle" type="button" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      My Account
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownAccount" style="background-color: #1E1F29;">
                                      <a class="dropdown-item" href="/profile/1">Profile</a>
                                      <a class="dropdown-item" href="#">Logout</a>
                                    </div>
                                </a>
                            </div>
                            <!-- Search Form -->
                            <div class="search-form">
                                <form action="#" method="post">
                                    <input type="search" name="search" class="form-control" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar header -->
    <div class="navbar-area">
        <div class="container">
            <nav class="list-menu">
                <ul>
                    <li class="active"><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/">Tin tức</a></li>
                    <li class="active"><a href="/">Olympic Sinh Viên</a></li>
                    <li class="active"><a href="/">ICPC Việt Nam</a></li>
                    <li><a href="/sponsor">Nhà tài trợ</a></li>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>