<div class="container">
  <div class="row profile-container">
      <div class="col-12 col-lg-2" style="border-right: 1px solid #888888;">
          <h4 >User Profile</h4>
          <ul class="list-group list-group-flush">
              <li class="list-group-item" style="border-top: none;">
                  <a href="/profile/1" style="text-decoration: none; color: #888888;">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      User profile
                  </a>
              </li>
              <li class="list-group-item" style="border-top: none;">
                  <a href="" style="text-decoration: none; color: #888888;">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      Achievements
                  </a>
              </li>
              <li class="list-group-item" style="border-top: none;">
                  <a href="" style="text-decoration: none; color: #888888;">
                      <i class="fa fa-bell" aria-hidden="true"></i>
                      Notifications
                  </a>
              </li>
              <li class="list-group-item" style="border-top: none;">
                  <a href="/profile/1/editpassword" style="text-decoration: none; color: #888888;">
                      <i class="fa fa-key" aria-hidden="true"></i>
                      Edit password
                  </a>
              </li>
              <li class="list-group-item" style="border-top: none;">
                  <a href="" style="text-decoration: none; color: #888888;">
                      <i class="fa fa-list" aria-hidden="true"></i>
                      Olympic list
                  </a>
              </li>
            </ul>
      </div>
      <div class="col-12 col-lg-10">
          <div class="card" style="width: 100%;">
            <div class="card-header">
              <div class="col">
                <h5>Chỉnh sửa mật khẩu</h5>
              </div>
          </div>
          <div class="card-body">
            <div>
              <label>Mật khẩu cũ</label>
            </div>
            <div>
              <input [value]="oldPassword"
              (input)="oldPassword = $event.target.value" type="password"class="form-control">
            </div>
            <div>
              <label>Mật khẩu mới</label>
            </div>
            <div>
              <input [value]="newPassword"
              (input)="newPassword = $event.target.value" type="password"class="form-control">
            </div>
            <div>
              <label>Nhập lại mật khẩu</label>
            </div>
            <div>
              <input [value]="confirmPassword"
              (input)="confirmPassword = $event.target.value" type="password"class="form-control">
            </div>
          </div>
          <div class="mr-0">
            <button (click)="XoaDulieu();" type="button" class=" ml-3 mt-2 mb-3 btn btn-secondary">Xoá dữ liệu</button>
            <button (click)="CapNhatMatKhau();" type="button" class="mt-2 mb-3 ml-2 btn btn-primary">Lưu mật khẩu</button>
          </div>
      </div>
  </div>
</div>

