<div class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8">
                <!-- Breaking News Widget -->
                <div class="breaking-news-area d-flex align-items-center">
                    <div class="news-title">
                        <p>Tin mới</p>
                    </div>
                    <div class="ticker">
                        <ul>
                            <li><a href="#" style="text-decoration: none;">Welcome to Olympic tin học.</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Breaking News Widget -->
                <div class="breaking-news-area d-flex align-items-center mt-3">
                    <div class="news-title title2">
                        <p>Quốc tế</p>
                    </div>
                    <div class="ticker">
                        <ul>
                            <li><a href="#" style="text-decoration: none;">Welcome to Olympic tin học.</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Hero Add -->
            <div class="col-12 col-lg-4">
                <div class="hero-add">
                    <a href="#"><img src="../../../../assets/user/img/hero-add.gif" width="100%" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>