/* 2. Hero Area */
.hero-area {
    position: relative;
    z-index: 1;
    padding: 50px 0 80px; 
}
.hero-area .breaking-news-area 
{
    position: relative;
    z-index: 1; 
}
.hero-area .breaking-news-area .news-title 
{
    min-width: 150px;
    height: 38px;
    background-color: #6360F5;
    text-align: center;
    padding: 0 20px; 
}
.hero-area .breaking-news-area .news-title p {
    margin-bottom: 0;
    font-weight: 500;
    color: #fff;
    line-height: 38px; 
}
@media only screen and (max-width: 767px) {
    .hero-area .breaking-news-area .news-title p {
        font-size: 12px; 
    } 
}
.hero-area .breaking-news-area .news-title.title2 {
    background-color: #152535; 
}

@media only screen and (max-width: 767px) {
    .hero-area .breaking-news-area .news-title {
    min-width: 100px;
    padding: 0 5px; 
    } 
}
.hero-area .breaking-news-area .ticker {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    background-color: darkgray; 
    height: 38px;
    line-height: 38px; 
}
@media only screen and (max-width: 767px) {
    .hero-area .breaking-news-area .ticker {
    padding: 0 5px; 
    } 
}
.hero-area .breaking-news-area .ticker ul {
    width: 100%;
    position: relative;
    z-index: 1; 
}
.hero-area .breaking-news-area .ticker ul li {
    list-style-type: none; 
    width: 100%; 
}
.hero-area .breaking-news-area .ticker ul li a {
    display: block;
    font-size: 15px;
    color: black;
    height: 38px;
    line-height: 38px; 
}
.hero-area .breaking-news-area .ticker ul li a:hover, .hero-area .breaking-news-area .ticker ul li a:focus {
    color: blue; 
}
@media only screen and (max-width: 767px) {
    .hero-area .breaking-news-area .ticker ul li a {
        font-size: 12px; 
    } 
}
.hero-add {
    position: relative;
    z-index: 1; 
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-add {
        margin-top: 80px;
        text-align: center; 
    } 
}
@media only screen and (max-width: 767px) {
    .hero-add {
    margin-top: 80px;
    text-align: center; 
    } 
}