<!-- Page Title -->
<!-- <app-page-title></app-page-title> -->
<!-- Content -->
<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Danh sách thông báo</h5>
        <table class="mb-0 table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Tiêu đề</th>
                <th>Ngày đăng</th>
                <th>Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Chúc mừng team A trường HCMUS</td>
                <td>01/04/2020</td>
                <td>Sửa</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Chúc mừng team A trường HCMUS</td>
                <td>01/04/2020</td>
                <td>Sửa</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Chúc mừng team A trường HCMUS</td>
                <td>01/04/2020</td>
                <td>Sửa</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>