<div class="container">
    <div class="row profile-container">
        <div class="col-12 col-lg-4">
            <div class="card mb-4" style="max-width: 18rem;">
                <div class="card-header">
                    <h5>PROFESSIONAL PROFILE</h5>
                </div>
                <div class="card-body">
                    <!-- avater -->
                    <div class="profile-image">
                        <img src="../../../../assets/user/img/profile.jpg" width="100%" height="220px"
                            alt="profile-image">
                    </div>
                    <!-- infor simple -->

                </div>
                <div class="card-footer">
                   <div class="flex-container">
                    <div class="mr-4">
                        <div>Name:</div>
                        <div>Age:</div>
                        <div>Uni:</div>
                    </div>
                    <div>
                        <div>Nguyen Ngoc Manh</div>
                        <div>21</div>
                        <div>HCMUS</div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <h5>ABOUT ME</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="flex-container">
                            <div class="ml-3 mr-4">
                                <div>MSSV:</div>
                                <div>Name:</div>
                                <div>Email:</div>
                                <div>Age:</div>
                                <div>University:</div>

                            </div>
                            <div>
                                <div>1712589</div>
                                <div>Nguyen Ngoc Manh</div>
                                <div>abc123123@student.hcmus.edu.vn</div>
                                <div>21</div>
                                <div>Đại học Khoa học Tự nhiên - ĐHQG Tp.HCM</div>
                            </div>
                           </div>
                    </div>
                </div>
                <div class="card-footer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
        </div>
    </div>
</div>