<div class="container">

    <form class="signup" #userRegisFrom="ngForm" (ngSubmit)="OnSubmit(Email.value, Password.value, Name.value, 
    Birthday.value, Sex.value, University.value)">
        <h3>Đăng ký tài khoản sinh viên</h3>
        <div class="form-group">
            <div class="form-group col-md">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" #Email name="Email" placeholder="abc@email.com" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" #Password ngModel name="Password"
                    placeholder="Enter password" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
       
        <div class="form-group">
            <div class="form-group col-md">
                <label for="">Name</label>
                <input type="text" class="form-control" #Name ngModel name="Name" placeholder="Your name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md">
                <label for="">Birthday</label>
                <input type="text" class="form-control" #Birthday ngModel name="Birthday" placeholder="yyyy-mm-dd" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md">
                <label for="">Sex</label>
                <select class="form-control" #Sex ngModel name="Sex" id="Sex">
                    <option value="Nam">Male</option>
                    <option value="Nữ">Female</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md">
                <label for="">University</label>
                <select class="form-control" #University ngModel name="University" id="University">
                    <option value="5ec15273e731461fa870b59d">University of Science - VNU HCM</option>
                    <option value="2">University of Technology - VNU HCM</option>
                </select>
            </div>
        </div>
        <div style="margin-left: 15px;">
            <button class="btn btn-primary">Register</button>
        </div>
        <div *ngIf="isSignupError" class="">
            Dang ky khong thanh cong
        </div>
    </form>
</div>