<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="../../../../assets/user/img/logo.png" alt="" height="90px"></a>
                        </div>

                        <!-- Login Search Area -->
                        <div class="login-search-area d-flex align-items-center">
                            <!-- Login -->
                            <div class="login d-flex">
                                <a href="/login">Login</a>
                                <a href="/sign-up">Register</a>
                            </div>
                            <!-- Search Form -->
                            <div class="search-form">
                                <form action="#" method="post">
                                    <input type="search" name="search" class="form-control" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar header -->
    <div class="navbar-area">
        <div class="container">
            <nav class="list-menu">
                <ul>
                    <li class="active"><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/">Tin tức</a></li>
                    <li class="active"><a href="/">Olympic Sinh Viên</a></li>
                    <li class="active"><a href="/">ICPC Việt Nam</a></li>
                    <li><a href="#">Nhà tài trợ</a></li>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8">
                <!-- Breaking News Widget -->
                <div class="breaking-news-area d-flex align-items-center">
                    <div class="news-title">
                        <p>Tin mới</p>
                    </div>
                    <div class="ticker">
                        <ul>
                            <li><a href="#" style="text-decoration: none;">Welcome to Olympic tin học.</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Breaking News Widget -->
                <div class="breaking-news-area d-flex align-items-center mt-3">
                    <div class="news-title title2">
                        <p>Quốc tế</p>
                    </div>
                    <div class="ticker">
                        <ul>
                            <li><a href="#" style="text-decoration: none;">Welcome to Olympic tin học.</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Hero Add -->
            <div class="col-12 col-lg-4">
                <div class="hero-add">
                    <a href="#"><img src="../../../../assets/user/img/hero-add.gif" width="100%" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Banner Area Start ##### -->
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../../../assets/user/img/banner01.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../../assets/user/img/banner01.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../../assets/user/img/banner01.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        
        </div>
    </div>
</div>
<!-- ##### Banner Area End ##### -->

<!-- ##### Featured Post Area Start ##### -->
<div class="blog-post mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="single-blog-post featured-post">
                            <div class="post-thumb">
                                <a href="#"><img src="../../../../assets/user/img/img1.jpg" alt="" width="100%"></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h3>Vietnam giành vé dự WF ICPC tại Moscow 2020</h3>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">By <a href="#">Christinne Williams</a></p>
                                    <p class="post-excerp">Sau thành tích không như ý tại ICPC Asia Danang 2019, các đội tuyển Việt Nam từ Đại học Bách Khoa Hà Nội, Đại học Công nghệ Hà Nội, Đại học KHTN - ĐHQG Tp Hồ Chí Minh và Đại học FPT đã lên đường tiếp tục dự vòng loại ICPC Asia Manila vào ngày 15/12/2019 để quyết tranh vé tham dự World Final ICPC tại Moscow từ 21-26/6/2020.</p>
                                    <!-- Post Like & Post Comment -->
                                    <div class="d-flex align-items-center">
                                        <p class="post-date"><span>7:00 AM</span> , <span>April 14</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post-2">
                            <div class="post-thumb">
                                <a href="#"><img src="../../../../assets/user/img/img2.jpg" width="100%" alt=""></a>
                            </div>
                            <div class="post-data">
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>Trường ĐH Bách khoa - ĐH Đà Nẵng đoạt giải nhất đồng đội Tin học</h6>
                                    </a>
                                    <div class="d-flex align-items-center">
                                        <p class="post-date"><span>7:00 AM</span> , <span>April 14</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post-2">
                            <div class="post-thumb">
                                <a href="#"><img src="../../../../assets/user/img/img3.jpg" width="100%" alt=""></a>
                            </div>
                            <div class="post-data">
                                <div class="post-meta">
                                    <a href="#" class="post-title" style="text-decoration: none;">
                                        <h6>Trường ĐH Bách khoa - ĐH Đà Nẵng đoạt giải nhất đồng đội Tin học</h6>
                                    </a>
                                    <div class="d-flex align-items-center">
                                        <p class="post-date"><span>7:00 AM</span> , <span>April 14</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Featured Post Area End ##### -->

<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="row footer-widget">
                    About
                </div>
                <div class="row" style="text-align:justify">
                    abc
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="row footer-widget">
                    About
                </div>
                <div class="row" style="text-align:justify">
                    abc
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="row footer-widget">
                    Pages
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="row footer-widget">
                    Quick Links
                </div>
            </div>
        </div>
    </div>
</footer>