/* :: 3. Blog Post Area */
.single-blog-post {
    position: relative;
    z-index: 1; 
  }
  .single-blog-post .post-thumb a {
    display: block; 
    
  }
  .single-blog-post .post-data {
    padding: 30px 0; 
  }
  .single-blog-post .post-data a{
    text-decoration: none;
  }
  .single-blog-post .post-data .post-title {
    display: block; 
  }
  .single-blog-post .post-data .post-title h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 1.5; 
  }
  .single-blog-post .post-data .post-title h3 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 1.5; 
  }
  .single-blog-post .post-data .post-title h6:hover, .single-blog-post .post-data .post-title h6:focus {
    color: #ee002d; 
  }
  .single-blog-post .post-data .post-title h3:hover, .single-blog-post .post-data .post-title h3:focus {
    color: #ee002d; 
  }
  .single-blog-post .post-data .post-meta .post-date a {
    display: block; 
  }
  .single-blog-post .post-data .post-meta .post-date a:hover, .single-blog-post .post-data .post-meta .post-date a:focus {
    color: #ee002d; 
  }
  
  .single-blog-post.featured-post {
    position: relative;
    z-index: 1; 
  }
  .single-blog-post.featured-post .post-data {
    padding: 30px 0; 
  }
  .single-blog-post.featured-post .post-data .post-title h3 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 500; 
  }
  @media only screen and (max-width: 767px) {
    .single-blog-post.featured-post .post-data .post-title h3 {
      font-size: 24px; 
    } 
  }
  
  .single-blog-post.featured-post .post-data .post-author {
    margin-bottom: 15px;
    display: block;
    width: 100%; 
  }
  .single-blog-post.featured-post .post-data .post-author a {
    display: inline-block;
    color: #ee002d; 
  }
  .single-blog-post.featured-post .post-data .post-excerp {
    font-weight: 500;
    margin-bottom: 40px;
    display: block;
    line-height: 2.1; 
  }
  .single-blog-post.featured-post.single-post .post-data {
    padding: 30px 0; 
  }
  .single-blog-post.featured-post.single-post .post-data p {
    margin-bottom: 30px; 
  }
  .single-blog-post.featured-post.single-post .post-data .related--post {
    display: block;
    font-size: 18px;
    color: #2c61db;
    margin: 40px 0; 
  }
  .single-blog-post.featured-post.single-post .post-data .related--post:hover, .single-blog-post.featured-post.single-post .post-data .related--post:focus {
    color: #ee002d; 
  }
  .single-blog-post.featured-post-2 {
    position: relative;
    z-index: 1;
    margin-bottom: 15px; 
  }
  .single-blog-post.featured-post-2 .post-data {
    padding: 15px 0; 
  }
  .single-blog-post.featured-post-2 .post-data .post-title h6 {
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 20px;
    font-weight: 500; 
  }
  .single-blog-post.featured-post-2 .post-data .post-author {
    margin-bottom: 15px;
    display: block;
    width: 100%; 
  }
  .single-blog-post.featured-post-2 .post-data .post-author a {
    display: inline-block;
    color: #ee002d; 
  }