<!-- Page Title -->
<!-- <app-page-title [heading]="heading" [subheading]="subheading"></app-page-title> -->
<!-- Content -->

<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Thông báo mới</h5>
                <form class="">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group"><label for="title" class="">Tiêu đề</label><input name="title" id="title" placeholder="" type="text" class="form-control"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group"><label for="catName" class="">Danh mục</label><input name="catName" id="catName" placeholder="" type="text" class="form-control"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group"><label for="detail" class="">Nội dung</label><input name="detail" id="detail" type="text" class="form-control"></div>
                        </div>
                    </div>
                    <button class="mt-2 btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>