<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Danh sách sinh viên</h5>
        <table class="mb-0 table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>MSSV</th>
                <th>Họ và tên</th>
                <th>Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1712001</td>
                <td>Nguyễn Văn A</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>1712002</td>
                <td>Lê Phương H</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>1712003</td>
                <td>Ahihi</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>