<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Danh sách nhóm</h5>
        <table class="mb-0 table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Tên nhóm</th>
                <th>Trường</th>
                <th>Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>HCMUS-001</td>
                <td>Đại học KHTN HCM</td>
                <td>Sửa</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>HCMUT-001</td>
                <td>Đại học Bách khoa HCM</td>
                <td>Sửa</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>HCMUS-002</td>
                <td>Đại học KHTN HCM</td>
                <td>Sửa</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>