<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Danh sách tài khoản của trường</h5>

      <table class="mb-0 table table-bordered">
          <thead>
          <tr>
              <th>STT</th>
              <th>Mã trường</th>
              <th>Tên trường</th>
              <th>Tài khoản</th>
              <th>Mật khẩu</th>
          </tr>
          </thead>
          <tbody *ngFor="let superad of arrSChoolAccount">
            <tr>
              <th scope="row">{{ superad.STT }}</th>
              <th >{{ superad.ID }}</th>
              <th >{{ superad.Name }}</th>
              <th >{{ superad.Username }}</th>
              <th >{{ superad.Password }}</th>
            </tr>
          </tbody>
      </table>
  </div>
</div>
<div>
  <button class="mt-2 btn btn-primary col-sm-4" (click)="getFormAdd();">Thêm</button>
  <button class="mt-2 btn btn-primary col-sm-4" (click)="getFormUp();">Sửa</button>
  <button class="mt-2 btn btn-primary col-sm-4" (click)="getFormDe();">Xoá</button><br><br>
</div>
<div class="tab-content" *ngIf="showFormAdd">
  <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
      <div class="main-card mb-3 card">
          <div class="card-body"><h5 class="card-title">Thông tin tài khoản</h5>
              <!-- <form> -->
                  <div class="form-row">
                    <div class="position-relative form-group col-md-6">Mã trường<input placeholder="..."  class="form-control" [(ngModel)]="matruong"/></div>
                    <div class="position-relative form-group col-md-6">Tên trường<input placeholder="..."  class="form-control" [(ngModel)]="tentruong"/></div>
                  </div>
                  <div class="form-row">
                    <div class="position-relative form-group col-md-6">Tài khoản<input placeholder="..."  class="form-control" [(ngModel)]="taikhoan"/></div>
                    <div class="position-relative form-group col-md-6">Mật khẩu<input placeholder="..." class="form-control" [(ngModel)]="matkhau"/></div>
                  </div>
                  <button  (click)="addSchoolAdmin();" class="mt-2 btn btn-primary">Thêm</button>
              <!-- </form> -->
          </div>
      </div>
  </div>
</div>

<div class="tab-content" *ngIf="showFormUpdate">
  <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
      <div class="main-card mb-3 card">
          <div class="card-body"><h5 class="card-title">Thông tin tài khoản</h5>
              <form>
                  <div class="form-row">
                    <div class="position-relative form-group col-md-6">Mã trường<input placeholder="..."  class="form-control" [(ngModel)]="matruong"/></div>
                    <div class="position-relative form-group col-md-6">Tên trường<input placeholder="..."  class="form-control" [(ngModel)]="tentruong"/></div>
                  </div>
                  <div class="form-row">
                    <div class="position-relative form-group col-md-6">Tài khoản<input placeholder="..."  class="form-control" [(ngModel)]="taikhoan"/></div>
                    <div class="position-relative form-group col-md-6">Mật khẩu<input placeholder="..." class="form-control" [(ngModel)]="matkhau"/></div>
                  </div>
                  <button  (click)="addSchoolAdmin();" class="mt-2 btn btn-primary">Thêm</button>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="tab-content" *ngIf="showFormDelete">
  <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
      <div class="main-card mb-3 card">
          <div class="card-body"><h5 class="card-title">Thông tin tài khoản</h5>
              <form>
                  <div class="form-row">
                    <div class="position-relative form-group col-md-6">Mã trường<input placeholder="..."  class="form-control" [(ngModel)]="matruong"/></div>
                    <div class="position-relative form-group col-md-6">Tên trường<input placeholder="..."  class="form-control" [(ngModel)]="tentruong"/></div>
                  </div>
                  <div class="form-row">
                    <div class="position-relative form-group col-md-6">Tài khoản<input placeholder="..."  class="form-control" [(ngModel)]="taikhoan"/></div>
                    <div class="position-relative form-group col-md-6">Mật khẩu<input placeholder="..." class="form-control" [(ngModel)]="matkhau"/></div>
                  </div>
                  <button  (click)="addSchoolAdmin();" class="mt-2 btn btn-primary">Thêm</button>
              </form>
          </div>
      </div>
  </div>
</div>


